<div class="navbar navbar-default">
    <div class="navbar-header">
        <div class="title navbar-brand">   
            <img src="assets/startup.png" width=25 height=25/>
            Share Idea
        </div>
    </div>
    <header-links></header-links>
</div>