<div *ngIf="user" class="user panel">
    <h2>{{user.name}}</h2>
    <p>{{user.email}}</p>


    <table class="table table-bordered table-condensed">
        <thead>
            <tr class="info">
                <th>User Active</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                
                
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="error" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    {{error.error.message ? error.error.message : 'There was an error retrieving the user details'}}

</div>