<div class="panel panel-default">
    <div class="panel-heading">
        <a [routerLink]="idea.ideaId">{{idea.title}}</a>
        <div class="glyphicon glyphicon-remove pull-right" (click)="deleteIdea()"></div>
    </div>
    <div class="panel-body">{{idea.body}}</div>
</div>