<h2>
    Ideas
    <div routerLink="create" class="btn btn-primary pull-right">Create Idea</div>
</h2>
<p>Select a idea from the list below.</p>
<idea-card *ngFor="let idea of ideas" [idea]="idea" (ideaDeleted)="handleIdeaDeleted($event)"></idea-card>

<div *ngIf="error" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    {{error.error.message ? error.error.message : 'There was an error retrieving the ideas.'}}
</div>