<div class="navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li [ngClass]="{'active': currentRoute === 'ideas'}"> 
            <a (click)="goToRoute('ideas')">Share Ideas.</a> 
            
        </li>
        <li [ngClass]="{'active': currentRoute === 'user'}">
            <a (click)="goToRoute('user')">Users</a>
        </li>
    </ul>
</div>