<h1>Idea form</h1>
<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" 
            required 
            [(ngModel)]="idea.title">
    </div>

    <div class="form-group">
            <textarea class="form-control" rows=10 name="body" [(ngModel)]="idea.body" required> 
            </textarea>
    </div>
    <div class="form-group">
        <label for="mediaUrl">Media Url</label>
        <input type="text" class="form-control" id="mediaUrl" name="mediaUrl" 
            required 
            [(ngModel)]="idea.mediaUrl">
    </div>

    <div class="form-group">
        <label for="targetDays">Goal Amount</label>
        <input type="number" class="form-control" id="targetDays" name="targetDays" 
            [(ngModel)]="idea.goalAmount"
            required>
    </div>
    <div class="form-group">
        <label for="userId">Enter user_id (only ids 1 to 6)</label>
        <input type="number" class="form-control" id="userId" name="userId" min="1" max="6"

            [(ngModel)]="idea.userId"
            required>
    </div>
  
    <button type="submit" class="btn btn-primary" (click)="submitIdea()">Submit</button>
</form>

<div *ngIf="error" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    {{error.error.message ? error.error.message : 'There was an error saving the idea'}}
</div>

<p>
   TODO: idea.title: {{idea.title}}
</p>
<p>
   TODO: idea.body: {{idea.body}}
</p>
<p>
   TODO: idea.targetDays: {{idea.targetDays}}
</p>