<div *ngIf="idea" class="idea panel">
    <h2>
        {{idea.title}}
        <div routerLink="update" class="btn btn-primary pull-right">Update Idea</div>
    </h2>
    <p>{{idea.body}}</p>


    <table class="table table-bordered table-condensed">
        <thead>
            <tr class="info">
                <th>Target Days</th>
                <th>Goal Amount</th>
                <th>Media URL</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{idea.targetDays}}</td>
                <td>{{idea.goalAmount}}</td>
                <td>
                    <a href={{idea.mediaUrl}}>Click me for idea.</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="error" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    {{error.error.message ? error.error.message : 'There was an error retrieving the idea.'}}
</div>