<h2>
 Users
  <div routerLink="create" class="btn btn-primary pull-right">Create User</div>
</h2>
<p>Select a idea from the list below.</p>
<user-card *ngFor="let user of users" [user]="user" (userDeleted)="handleUserDeleted($event)"></user-card>

<div *ngIf="error" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  {{error.error.message ? error.error.message : 'There was an error retrieving the users.'}}
</div>