<div class="panel panel-default">
  <div class="panel-heading">
      <a [routerLink]="user.userId">{{user.name}}</a>
      <div class="glyphicon glyphicon-remove pull-right" (click)="deleteUser()"></div>
  </div>
  <div class="panel-body">{{user.email}}</div>
</div>